body{
    background-color: #080710;
    font-family:'Times New Roman', Times, serif
}
.main{
    height: 350px;
    width:300px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6); 
    padding: 50px 35px; 
}
form *{
    outline: none;
    border:None;
}
.content{
    align-items: center;
    margin-left:40px;
}
#h2{
    color: white;
    margin-top:10px;
    text-align: center;
}
#username{
    margin-top: 20px;
    color:white;
    margin-right:200px;

}
#Uemail{
    color:white;
    width:220px;
    height:30px;
    margin-top: 2px;
    margin-right:40px;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding:3px;
}


#pwd{
    margin-top:20px;
    color:white;
    margin-right:200px;
    margin-top: 20px;

}

#upwd{
        color:white;
        width:220px;
        height:30px;
        margin-top: 2px;
        margin-right:40px;
        background-color: rgba(255,255,255,0.07);
        padding: 3px;
}

#Login{
    margin-top:20px;
    width:227px;
    height:40px;
    margin-right:40px;
    color: black;
    background-color: white;
    color: black;
    cursor: pointer;
}

.btn-container{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

#Goggle{
    margin-right:auto;
    height:28px;
    width: 100px;
    background-color: rgba(255,255,255,0.07);
    cursor: pointer;
    color: white;
    padding: 10px;
}
#Facebook{
    margin-right:32px;
    width: 100px;
    height: 28px;
    background-color: rgba(255,255,255,0.07);
    cursor: pointer;
    color: white;
    padding:10px;
}





.main{
    height: 350px;
    width:300px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6); 
    padding: 50px 35px; 
}
form *{
    outline: none;
    border:none;
}
.content{
    align-items: center;
    margin-left:40px;
}
#h2{
    color: white;
    margin-top:10px;
    text-align: center;
}
#username{
    margin-top: 20px;
    color:white;
    margin-right:200px;

}
#Uemail{
    color:white;
    width:220px;
    height:30px;
    margin-top: 2px;
    margin-right:40px;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding:3px;
}


#pwd{
    margin-top:20px;
    color:white;
    margin-right:200px;
    margin-top: 20px;

}

#upwd{
        color:white;
        width:220px;
        height:30px;
        margin-top: 2px;
        margin-right:40px;
        background-color: rgba(255,255,255,0.07);
        padding: 3px;
}

#Login{
    margin-top:20px;
    width:227px;
    height:40px;
    margin-right:40px;
    color: black;
    background-color: white;
    color: black;
    cursor: pointer;
}

#para{
    color: white;
    font-size: 18px;
}
.btn-container{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

#Goggle{
    margin-right:auto;
    height:28px;
    width: 100px;
    background-color: rgba(255,255,255,0.07);
    cursor: pointer;
    color: white;
    padding: 10px;
}
#Facebook{
    margin-right:32px;
    width: 100px;
    height: 28px;
    background-color: rgba(255,255,255,0.07);
    cursor: pointer;
    color: white;
    padding:10px;
}



